Q-1) Data type and example.

In [ ]:
#Q1- data type and example
a = "I am gonna become one of the best computational biologist" #string
b = ["by the end of ", 2025] #list
c = 100.00 #float
d = ("for","sure") #tuple

Q-2) Data type and variable.

In [3]:

#Q2- Data type of variable
var1 = ''
var2 = '[DS,ML,PYTHON]'
var3 = ['DS','ML','PYTHON']
var4 = 1

print("var1: ",(type(var1)))
print("var2: ",(type(var2)))
print("var3: ",(type(var3)))
print("var4: ",(type(var4)))

var1:  <class 'str'>
var2:  <class 'str'>
var3:  <class 'list'>
var4:  <class 'int'>

Q-3) Use of operators and examples.
/ (division) --> divide the numbers.
% (modulus) --> returns the remaining numbers by dividing the first number from the second.
// (flooor division) --> divide the first number by the second and round the result down to the nearest whole number.
** (exponentiation) --> it performs the exponential calculation.

In [2]:
#division
a = 10
b = 2
print(a/b)

5.0

In [4]:
#modulus
a = 9
b = 2
print(a%b)

1

In [5]:
#floor division
a = 15
b = 4
print(a//b)

3

In [6]:
#exponentiation
a = 2
b = 5
print(a**b) #2*2*2*2*2

32

Q-4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
a = [1,4,3,"moon","light","calm",2.0,11.52,"ATGC",True]
for i in a:
    print(i,"-->",(type(i)))

1 --> <class 'int'>
4 --> <class 'int'>
3 --> <class 'int'>
moon --> <class 'str'>
light --> <class 'str'>
calm --> <class 'str'>
2.0 --> <class 'float'>
11.52 --> <class 'float'>
ATGC --> <class 'str'>
True --> <class 'bool'>

Q-6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [10]:
a = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if i%3 == 0:
        print(i,"is divisible by 3")
    else:
        print(i," is not divisible by 3")

1  is not divisible by 3
2  is not divisible by 3
3 is divisible by 3
4  is not divisible by 3
5  is not divisible by 3
6 is divisible by 3
7  is not divisible by 3
8  is not divisible by 3
9 is divisible by 3
10  is not divisible by 3
11  is not divisible by 3
12 is divisible by 3
13  is not divisible by 3
14  is not divisible by 3
15 is divisible by 3
16  is not divisible by 3
17  is not divisible by 3
18 is divisible by 3
19  is not divisible by 3
20  is not divisible by 3
21 is divisible by 3
22  is not divisible by 3
23  is not divisible by 3
24 is divisible by 3
25  is not divisible by 3

Q-5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [28]:
a = int(input("number A: "))
b = int(input("number B: "))
count= 0
while a%b==0:
    a=a/b
    count+=1
print(count)

number A:  8
number B:  2

3

Q-7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

1.) Mutable - an object whose internal state can be changed.

2.) Immutable - object whose internal state cannot be changed, once it is created.

In [31]:
#mutable
a = [1,2,3,4,5]
b = "six"
a.append(b)
print(a)

#immutable
a = (1,2,3,4,5)
b = "six"
a.append(b)
print(a)

[1, 2, 3, 4, 5, 'six']

AttributeError: 'tuple' object has no attribute 'append'